* {
    margin: 0;
    padding: 0;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(105, 104, 78);
}

.container {
    background-color: white;
    /* border: 1px solid red; */
    min-height: 45vh;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 5px 5px 10px  rgb(79, 77, 17);
    display: flex;
    flex-direction: column ;
    row-gap: 20px;

}

.main-output {
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 1.3rem;
}

